html {
    background-color: rgba(20, 19, 19, 0.9);
    background-image: url("images/htmlbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* gray box */
.container {
    position: absolute;
    background-color: rgba(109, 99, 201, 0.5);
    width: 900px;
    height: 300px;
    top: 50px;
    left: 500px;
    border-radius: 20px;
}

.score-box {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.8);
    left: 38%;
    top: 10%;
    border-style: solid;
    border-radius: 10px;
    height: 60%;
    width: 20%;
}

h3 {
    position: absolute;
    background-color: rgb(255, 222, 13, 0.9);
    left: 20px;
    font-family: cursive;
    font-size: 40px;
    border-radius: 10px;
    margin-top: 2%;
}

/* inside score box */
.player-score {
    position: absolute;
    margin: 0;
    right: 5px;
    bottom: 0px;
    font-size: 70px;
    font-family: cursive;
    color : #f5f822;
}

/* inside score box */
.comp-score {
    position: absolute;
    margin: 0;
    left: 5px;
    bottom: 0px;
    font-size: 70px;
    font-family: cursive;
    color : #f5f822;
}

.comp-gif {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.8);
    border-radius: 10px;
    left: 20px;
    top: 20px;
    height: 170px;
    width: 300px;
}

.comp-gif-img {
    position: absolute;
    border-radius: 10px;
    left: 30px;
    top: 9px;
}

/* rock paper scissors icons box */
.player-tools {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.8);
    border-radius: 10px;
    right: 35px;
    top: 20px;
    height: 170px;
    width: 300px;
}

button {
    position: relative;
    border-style: solid;
    border-color: rgb(32, 31, 31);
    border-width: 7px;
    border-radius: 2px;
    cursor: pointer;
    height: 134px;
    width: 88px;
    left: 3px;
    top: 15px;
    margin: 4px;
}

/* r-p-s icons */
.play-icon {
    position: absolute;
    height: 120px;
    left: 4px;
    top: 0px;
    margin: 0px;
}

button:hover {
    border-color: rgb(255, 222, 13, 0.9);
}
button:active {
    border-color: rgb(46, 206, 6);
}

.small-container {
    position: absolute;
    background-color: rgba(109, 99, 201, 0.5);
    border-radius: 20px;
    height: 100px;;
    width: 900px;
    top: 360px;
    left: 500px;
}

@media (max-width: 1280px) {

}


